@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'exo';
  src: url('/fonts/exo.ttf');
}
@font-face {
  font-family: 'exo_italic';
  src: url('/fonts/exo-italic.ttf');
}
html,
body {
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #26282b;
}
::-webkit-scrollbar-thumb {
  background: #58585833;
  border: 5px solid transparent;
  border-radius: 5px;
}
